<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <div class="container" >
        <form class="form"  method="post" action="/login">
            <h1 class="title">Login Now</h1>
            <input type="text" class="text" name ="name" placeholder="Enter your name">
            <input type="email" name ="email" class="text" placeholder="Enter your email">
            <button type="submit" class="button"> Login</button>
        </form>
    </div>

    
</body>
</html>